name: Provision Notification Hub
run-name: Provision ANH

on:
  workflow_dispatch:
    inputs:
      subscription_id:
        required: true
      resource_group_name:
        required: true
      location:
        required: true

      namespace_name:
        required: true
      hub_name:
        required: true

      sku:
        type: choice
        options: [Free, Basic, Standard]
        default: Basic

      authorization_rule_name:
        required: true

      allow_listen:
        type: choice
        options: ["true", "false"]
        default: "true"
      allow_send:
        type: choice
        options: ["true", "false"]
        default: "true"
      allow_manage:
        type: choice
        options: ["true", "false"]
        default: "false"

jobs:
  provision:
    uses: ./.github/workflows/reusable-service-provision.yml
    with:
      service_name: ANH
      working_directory: terragrunt/ANH

      subscription_id: ${{ inputs.subscription_id }}
      resource_group_name: ${{ inputs.resource_group_name }}
      location: ${{ inputs.location }}
      TF_VAR_namespace_name: ${{ inputs.namespace_name }}
      TF_VAR_hub_name: ${{ inputs.hub_name }}
      TF_VAR_sku_name: ${{ inputs.sku }}
      TF_VAR_authorization_rule_name: ${{ inputs.authorization_rule_name }}
      TF_VAR_listen: ${{ inputs.allow_listen }}
      TF_VAR_send: ${{ inputs.allow_send }}
      TF_VAR_manage: ${{ inputs.allow_manage }}

    secrets: inherit
